/* navbar container */
  .navbar {
  display: run-in;
  overflow: hidden;
  background-color: #fc0303;
  font-family: Trebuchet MS;
  }

  /* links inside navbar */ 

  .navbar a {
  display: run-in;
  float: center;
  font-size: 16px;
  color: #ffbc03;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  /*dropdown container */
  .dropdown {
  float: center;
  overflow: hidden;
  }

  /* dropdpwn button */
  .dropdown .dropbtn {
  font-size 16px;
  border: 1px;
  outline: 1px;
  color: ff9603;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  }

  .navbar a:hover ,
  .dropdown:hover .dropbtn {
  background-color: #0342ff;
  }

  /* dropdown content */

  .dropdown-content {
  display:none;
  position: absolute;
  background-color: #fc0303;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  /* links inside */
  .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inlin-grid;
  text-align: center;

  }

  .dropdown-content a:hover {
  background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
  display: inline-grid;
    }
